html, body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
}

header {
  position: fixed;
  z-index: 100;
  background-color: #000;
  margin-top: 0;
  width: 100%;
  heigh
}

nav {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

nav .logo {
  float: left;
}

main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url(/banner-ppaz-2.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50rem;
}

#main-banner {
  margin: auto;
  margin-top: 2rem;
  min-width: 33.33rem;
}

.banner-text{
  color: #fafafa;
  font-weight: 300;
  font-size: 2.5rem;
  padding-top: 40px;
  text-transform: uppercase;
  text-align: center;
}

.what-i-do{
  background-color: #F8F9FA;
  display: flex;
  align-items: flex-start;
  padding-top: 1.66rem;
}
.material-icons{
  color: #6868AC;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}

footer p {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
}



.btn-main {
  background-color: #333;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-default {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 1.3px;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.about-me {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 100%;
  margin: auto;
  background-color: #fff;
  color: #212529;
  padding: 1.66rem;
}

.about-text {
  
}
.about-text h3{
  font-size: 2.5rem;
}
.about-text p {
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 0 1.66rem;
}

.supporting {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 100px;
  background-color: #F8F9FA;
  position: relative;
  padding: 1.66rem;
}
.intro{
  text-align: center;
  max-width: 100%;
  margin: auto;
}
.intro h2{
  font-size: 2.5rem;
}
.intro p{
  color: #fff;
  background-color: #6868AC;
  font-size: 1.33rem;
}



.supporting .col {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  max-width: 16.66rem;
  min-height: 200px;
  display: inline-block;
  padding: 0 20px;
  margin-bottom: 20px;
}

.supporting span {
  max-height: 5rem;
}

.supporting h2 {
  font-weight: 600;
  font: size 1.5rem;
  color: #212529;
  font-weight: 600;
}

.supporting p {
  font-weight: 300;
  line-height: 1.5rem;
  color: #212529;
  text-transform: none;
}


@media (max-width: 500px) {
  main h1 {
    font-size: 50px;
    padding: 0 40px;
  }

  .supporting .col {
    width: 100%;
  }
}
