html, body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
}

header {
  position: fixed;
  z-index: 100;
  background-color: #000;
  margin-top: 0;
  width: 100%;
  heigh
}

nav {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

nav .logo {
  float: left;
}

main {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-image: url(../pamelapazc.github.io/banner-ppaz.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50rem;
}

#main-banner {
  margin: auto;
  margin-top: 2rem;
}

.banner-text{
  color: #fafafa;
  font-weight: 300;
  font-size: 2.5rem;
  padding-top: 40px;
  text-transform: uppercase;
  text-align: center;
}

.what-i-do{
  background-color: #fff;
}
.material-icons{
  color: #6868AC;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}

footer p {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
}



.btn-main {
  background-color: #333;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-default {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 1.3px;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.supporting {
  padding-top: 80px;
  padding-bottom: 100px;
  position: relative;
  top: 35px;
}

.supporting .col {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  width: 150px;
  height: 200px;
  display: inline-block;
}

.supporting img {
  height: 32px;
}

.supporting h2 {
  font-weight: 600;
  font-size:18px;
}

.supporting p {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  padding: 0 20px;
  margin-bottom: 20px;
}

.supporting a {
  background-color: white;
  color: #333333;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1.3px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #333333;
}


@media (max-width: 500px) {
  main h1 {
    font-size: 50px;
    padding: 0 40px;
  }

  .supporting .col {
    width: 100%;
  }
}
